<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/emma_stone.jpg?alt=media&token=4786b1a5-6904-4bf8-9624-fb0aa45d5e85');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/images.jpg?alt=media&token=0d98bdb9-e2d2-41e1-89ac-eec4ccb29f22');"></span>
                    <strong>Tyrion Lannister</strong> {{test_say}}
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/lip.jpg?alt=media&token=594726b2-e763-459d-9502-5fd30fc5d88e');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>She look so nice style and also</strong> ...
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/bag.jpg?alt=media&token=ab5039c3-3aeb-451a-9d3d-b12d379f99fa">
                    </a>
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/hat.jpg?alt=media&token=ab768762-f75e-4a47-a269-fb6377342860">
                    </a>
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/four.png?alt=media&token=4d753e4b-188d-4af1-8c8b-e42ebec75941">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
