<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fimages.jpg?alt=media&token=016a120c-d520-4612-85ba-b52cf2cd5486"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image:url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Femma_stone.jpg?alt=media&token=0a6f027a-8dc7-47f6-8c12-f55d4d717e6f)"></span>
                    <strong>Tyrion Lannister</strong> {{test_say}}
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Flip.jpg?alt=media&token=c0bdf11a-2184-4a77-a10e-0da87cde8d9f"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>She look so nice style and also</strong> ...
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2Fsummer%20look.jpg?alt=media&token=7cae7ff7-617f-456b-86f1-efa0e6417e81">
                    </a>
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2Ffour.png?alt=media&token=6f73c251-d543-40d8-96e5-9b1afcd36f62">
                    </a>
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2Fhat.jpg?alt=media&token=5814b47a-8b97-4728-9ccf-7b47b51a0e2d">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
