<ion-view view-title="Admin">
    <br></br>
    <ion-content>
    <div class="item item-body">
      <img class="full-image" src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/images%2Fweekly%2FGX4.jpg?alt=media&token=74b9052e-d646-4d1e-9459-5df6ac9c7d2e">
      <strong>{{info.writter}}</strong> {{info.title}}
     <br>
      Double_Style is singularly poised to bring the world of international fashion home to Canadians. With editors and contributors who travel to, and live in, the style capitals of the world, we're out there on the front lines of fashion. 
     <br><br>
     <i class="icon ion-email"></i>
      test123@gmail.com <br>
     <div class="list inset">
                <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input type="text" ng-model="vm.form.title" placeholder="Write a title.">
                </label>

                <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" ng-model="vm.form.email" placeholder="Write your email.">
                </label>

                <label class="item item-input item-stacked-label">
                <span class="input-label">Message</span>
                <input type="text" ng-model="vm.form.message" placeholder="Write a message.">
                </label>

            <div class="item">
                <button class="button button-positive button-block" ng-click="vm.Submit()">
                 Leave us a message
                </button>
                <br>
                <br><br>
             You can contact us through :
            <br></br>
           <div class="item">
                <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="fileSelect(files)" >
                <img class="image" id="previewer" ng-src='https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/else%2FFacebook_icon.svg.png?alt=media&token=5780161f-fc1d-477e-95df-612d94b3534c' ng-click="vm.selectPhoto()">
            </div>
            <div class="item">
                <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="fileSelect(files)" >
                <img class="image" id="previewer" ng-src='https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/else%2Finstagram-icon_1057-2227.jpg?alt=media&token=605f1274-781a-4b7e-a267-1d09332678bf' ng-click="vm.selectPhoto()">
            </div>
            <div class="item">
                <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="fileSelect(files)" >
                <img class="image" id="previewer" ng-src='https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/else%2F%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C.jpg?alt=media&token=459ad739-0ec8-4f7c-9152-6b37c5255777' ng-click="vm.selectPhoto()">
            </div>
            </div>


            </div>
        </div>

    
    </ion-content>
</ion-view>
