<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/else%2Fdream.jpg?alt=media&token=03f742bd-c45b-4e4f-937e-0a6e412c5b82">
            <div class="content">
                <div class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fscalet.jpg?alt=media&token=818ad792-061a-4580-a202-8835a1be812c"></div>
                <h3><a class="light">scalet</a></h3>
                <h4>Elegance</h4>
            </div>
        </div>

     </ion-content>
</ion-view>
