<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/emma_stone.jpg?alt=media&token=4786b1a5-6904-4bf8-9624-fb0aa45d5e85">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/scalet.jpg?alt=media&token=94ef3d80-22fa-4e8f-b7e8-5d18da6da22b">
                    <h2>Scalet</h2>
                    <p>Elegance</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/noticia.jpg?alt=media&token=f243382c-c670-4202-aee9-22085211ea4c">
                    <h2>Arya Stark</h2>
                    <p>Is Chuck Norris' fear</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/lip.jpg?alt=media&token=594726b2-e763-459d-9502-5fd30fc5d88e">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/images.jpg?alt=media&token=0d98bdb9-e2d2-41e1-89ac-eec4ccb29f22">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
