<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fimages.jpg?alt=media&token=016a120c-d520-4612-85ba-b52cf2cd5486">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fscalet.jpg?alt=media&token=818ad792-061a-4580-a202-8835a1be812c">
                    <h2>Scalet</h2>
                    <p>Elegance</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fface.jpg?alt=media&token=d0961391-b210-42cc-a012-3245f1587525">
                    <h2>Arya Stark</h2>
                    <p>Is Chuck Norris' fear</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Flip.jpg?alt=media&token=c0bdf11a-2184-4a77-a10e-0da87cde8d9f">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Femma_stone.jpg?alt=media&token=0a6f027a-8dc7-47f6-8c12-f55d4d717e6f">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
