<ion-view view-title="Double_S">
<br>
<br><br>

<div class="card">
   <div class="item item-avatar">
      <img src="img/jon-snow.jpg">
      <h2>Kelly</h2>
   </div>

   <div class="item item-body">
      <img class="full-image" src="img/sansa.jpg">
      Summer look is comming....<br>
      If you would like to be fashion people, you will have to focus on this app!!!<br>
      you are available to be them!!!
</div>

<ion-row>
    <ion-col>
    <button class="button-50 icon icon-left ion-heart">
     12 Likes
    </button>
      

    <ion-col>
    <button class="button-100 icon icon-left ion-chatbubble-working">
     4 Comments
    </button>

  </ion-row>
</ion-view>
