<ion-view view-title="Double_S">
<br>
<br><br>

<div class="card">
   <div class="item item-avatar">
      <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/face.jpg?alt=media&token=260d326c-0b63-4eaf-9a31-897ab5747f39">
      <h2>Kelly</h2>
   </div>

   <div class="item item-body">
      <img class="full-image" src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/summer%20look.jpg?alt=media&token=6b0aaf0c-cdbc-4fe6-a276-f8a41d6c0ee4">
      Summer look is comming....<br>
      If you would like to be fashion people, you will have to focus on this app!!!<br>
      you are available to be them!!!
</div>

<ion-row>
    <ion-col>
    <button class="button-50 icon icon-left ion-heart">
     12 Likes
    </button>
      

    <ion-col>
    <button class="button-100 icon icon-left ion-chatbubble-working">
     4 Comments
    </button>

  </ion-row>
</ion-view>
