<ion-view view-title="Join" name="join-view">

    <ion-content class="padding">
      
    <div class="list">
      <label class="item item-input item-floating-label">
      <span class="input-label">Nickname</span>
   <input type="text" placeholder="Nickname">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Email</span>
   <input type="email" placeholder="Email">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Password</span>
   <input type="password" placeholder="Password">
   </label>
</div>
      <button class="button button-block button-stable" ng-click="login()">Join</button>
      
  </ion-content>
</ion-view>