<ion-modal-view>

  <ion-header-bar align-title="center" class="bar-assertive-900 nav-title-slide-ios7">
    <h1 class="title">Foggot my Password</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-close" ng-click="modalLostPassword.hide()"></button>
    </div>
  </ion-header-bar>





  <ion-content class="padding">

    <div class="list">

      <label class="item item-input item-floating-label">
   <span class="input-label">Email</span>
   <input type="email" ng-model="loginData.email" placeholder="Email">
   </label>

    </div>
    <button class="button button-block button-stable" ng-click="clickLostPassword(loginData)">Send Email</button>
    <br>


  </ion-content>
</ion-modal-view>