<ion-view view-title="Double_S">
    <ion-tabs class = "tabs-stable">
        <ion-tab title = "Weekly Fashion">
        </ion-tab>
        <ion-tab title = "Items Matching">
        </ion-tab>
    </ion-tabs>

    <ion-content >
         <div class="padding">
             <br>
             <br><br>
             <br><br><br>
            <button ui-sref="app.profile" class="button">go</button>
            <button ui-sref="app.join" class="button">join</button>
        </div>
        </ion-content>
</ion-view>
