<ion-view view-title="Double_S">

    <ion-nav-view name="sub-menus"></ion-nav-view>

    <ion-tabs ng-show="isMain()" class="tabs-icon-left tabs-striped tabs-top tabs-positive tabs-background-royal">

        <ion-tab title="Weelky" ui-sref="app.main.weekly">
            <ion-nav-view name="weekly-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Matching" ui-sref="app.main.matching">
            <ion-nav-view name="matching-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
        
</ion-view>

