<ion-view view-title="Double_S">

    <ion-tabs class="tabs-icon-top tabs-positive">

        <div class="tabs-striped tabs-top tabs-background-stable">
            <ion-tab title="Weelky" icon="ion-home" ui-sref="app.main.weekly">
                <ion-nav-view name="weekly-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Matching" icon="ion-information" ui-sref="app.main.matching">
                <ion-nav-view name="matching-tab"></ion-nav-view>
            </ion-tab>
        </div>
    </ion-tabs>
        
</ion-view>

