<ion-side-menus enable-menu-with-back-views="false">
  <!-- Main content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" >
            <ion-nav-back-button side="left"
                class="button-clear button-icon ion-ios-arrow-back no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-show="!isLogined()" class="button button-icon button-clear ion-person" ng-click="showLogin()" ></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>Thronester</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.main.weekly">
                    Weekly New
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.main.matching">
                    Items Matching
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.activity">
                    Activity
                </ion-item>
                <!--<ion-item nav-clear menu-close ui-sref="app.login">
                    Login
                </ion-item>-->
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    Profile
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    Friends
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.palette">
                    Design Palette
                </ion-item>
                <ion-item nav-clear menu-close ng-click="showLogin()" ng-show="!isLogined()">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close ng-click="showLogout()" ng-show="isLogined()">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
