<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/else%2Fdream.jpg?alt=media&token=03f742bd-c45b-4e4f-937e-0a6e412c5b82">
            <div class="content">
                <img class="avatar" ng-src='{{vm.myAvatarImg || "img/avatar/blank.png"}}'></img>
                <!--<div class="avatar" ng-src='{{vm.myAvatarImg || "img/avatar/blank.png"}}'></div>-->
                <h3><a class="light">scalet</a></h3>
                <h4>Elegance</h4>
            </div>
            <div class="float-button">
      <span class="height-fix">

            <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="vm.fileSelect(files)" >
            <a class="content">
                <i class="ion-ios-arrow-up" ng-click="vm.UploadContent()"></i>
          </a>
      </span>     
  </div>
    <br>
    <br><br>
        </div>
         <div class="list padding-right">
             <div class = "row">
                <div class = "col"></div>
                <div class = "col"></div>
                <div class='item-md-label'>
                <input ng-model="vm.user.displayName" class="hightlight-energized" placeholder="Nickname" type="Text"></input>
                </div> 
                <div class = "col"></div>
                <div class = "col"></div>
            </div>
             <div class = "row">
                <div class = "col"></div>
                <div class = "col"></div>
                <div class='item-md-label'>
                <input ng-model="profileData.email" class="hightlight-energized" placeholder="Email" type="Email"></input>
                </div>
                <div class = "col"></div>
                <div class = "col"></div>
            </div>
             <div class = "row">
                <div class = "col"></div>
                <div class='item-md-label'>
                <input ng-model="profileData.password" class="hightlight-royal" placeholder="Password Change" type="password change"></input>
                </div>
                <div class = "col"></div>
            </div>
        </div>
        <div class = "row">
        <div class = "col col-top"></div>
        <button ng-click="showSave()" class="button button-positive ink">Save</button>
        <div class = "col col-bottom"></div>
        </div>
   
        </div>
    </ion-content>
</ion-view>
