<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/dream.jpg?alt=media&token=d6551d2f-7d99-4781-b998-270e12dba0bc');">
            <div class="content">
                <div class="avatar" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/scalet.jpg?alt=media&token=94ef3d80-22fa-4e8f-b7e8-5d18da6da22b');"></div>
                <h3><a class="light">scalet</a></h3>
                <h4>Elegance</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/emma_stone.jpg?alt=media&token=4786b1a5-6904-4bf8-9624-fb0aa45d5e85">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/lip.jpg?alt=media&token=594726b2-e763-459d-9502-5fd30fc5d88e">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/images.jpg?alt=media&token=0d98bdb9-e2d2-41e1-89ac-eec4ccb29f22">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
