<ion-view view-title="Items Matching">

  <ion-content class="padding" has-bouncing="true">

        <div ui-sref="app.matchDetail({id:info.key})" class="card-item" ng-repeat="info in vm.list | orderObjectBy :'key':false">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>{{info.writter}}</strong> {{info.title}}
                    <div class="row">
                        <div class="col col-50">
                        <a class="image"><img ng-src='{{info.imgPath1 || "img/ImageLoading.png"}}'></a>
                        </div>
                        <div class="col col-50">
                        <a class="image"><img ng-src='{{info.imgPath2 || "img/ImageLoading.png"}}'></a>
                        </div>
                    </div>                    
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i>{{info.comments.length}}
                        <i class="icon ion-heart assertive"></i>{{info.likes}}
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{info.timestamp}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--

    <div>
        <img ng-src="{{bgImg}}">
    </div>

        <div class="item card-item">
            <div ui-sref="app.matchDetail" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>Tyrion Lannister</strong> {{test_say}}
                    <a class="image"><img ng-src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2Fhat.jpg?alt=media&token=5814b47a-8b97-4728-9ccf-7b47b51a0e2d">
                    </a>
                    
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.matchDetail" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...
                    <a class="image"><img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2FChic.jpg?alt=media&token=8a751291-3a84-4f99-b282-836f20b56364">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <div class="padding">
             <br>
             <br><br>
             <br><br><br>
            <button ui-sref="app.profile" class="button">Profile</button>
            <button ui-sref="app.join" class="button">join</button>
            <button ui-sref="app.matchDetail" class="button">Match Detail</button>
        </div>-->


  </ion-content>

  <div class="float-button">
      <span class="height-fix">

            <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="fileSelect(files)" >
            <a class="content">
                <i class="ion-ios-arrow-up" ng-click="UploadContent()"></i>
          </a>
      </span>     
  </div>
    
</ion-view>