<ion-view view-title="Weekly New">

    <ion-content ng-class="has-header" has-bouncing="true">
        <div class="list half">

            <div class="card card-gallery item item-text-wrap" ng-repeat="info in vm.list_left | orderObjectBy :'key':false">
                <div ui-sref="app.weeklyDetail({id:info.key})" class="ink dark-bg">
                    <h2>{{info.title}}</h2>
                    <img class="full-image" ng-src='{{info.imgPath || "img/ImageLoading.png"}}'>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        <span>{{info.likes||0}}</span>
                    </a>
                    <a ui-sref="app.weeklyDetail({id:info.key})" class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        <span>{{vm.count_comments(info.comments)}}</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="list half content_right">
            <div class="card card-gallery item item-text-wrap" ng-repeat="info in vm.list_right | orderObjectBy :'key':false">
                <div ui-sref="app.weeklyDetail({id:info.key})" class="ink dark-bg">
                    <h2>{{info.title}}</h2>
                    <img class="full-image" ng-src='{{info.imgPath || "img/ImageLoading.png"}}'>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        <span>{{info.likes||0}}</span>
                    </a>
                    <a ui-sref="app.weeklyDetail({id:info.key})" class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        <span>{{vm.count_comments(info.comments)}}</span>
                    </a>
                </div>
            </div>
            
        </div>
    </ion-content>
  <div class="float-button">
      <span class="height-fix">

            <input style="display:none" id="idFile" name="idFile" type="file" file-change handler="fileSelect(files)" >
            <a class="content">
                <i class="ion-ios-arrow-up" ng-click="UploadContent()"></i>
          </a>
      </span>     
  </div>

</ion-view>