<ion-view view-title="Items Matching">

  <ion-content class="padding">
    <h1>matching</h1>

         <div class="padding">
             <br>
             <br><br>
             <br><br><br>
            <button ui-sref="app.profile" class="button">Profile</button>
            <button ui-sref="app.join" class="button">join</button>
        </div>


  </ion-content>

  <div class="float-button">
      <span class="height-fix">
            <a class="content">
                <i class="ion-ios-arrow-up"></i>
          </a>
      </span>     
  </div>
    
</ion-view>