<ion-view view-title="Weekly Detail" name="weeklyDetail-view">

  <div ng-show="isOwner()" class="float-button" style="top:10%;height: 30px;" ng-click="openPopover($event,vm)">
      <span class="height-fix">
            <a class="content">
                <i class="ion-android-more-vertical"></i>
          </a>
      </span>     
  </div>
    
    <ion-content class="has-header" has-bouncing="true">

        <div>
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar">
                    <img ng-src='{{vm.info.avatar.url || "img/avatar/blank.png"}}'>
                    <h2>{{vm.info.writter}}</h2>
                    <p ng-show="!vm.isEditMode">"{{vm.info.title}}"</p>
                    <div ng-show="vm.isEditMode"> 
                        <input class="item-input-wrapper full-image" type="text" ng-model="vm.edit.title" placeholder="Write a title.">
                    </div>
                </div>                
                <div class="item item-text-wrap" style="padding-top:0">
                    <img class="full-image" ng-src="{{vm.info.imgPath}}">
                    <div ng-show="!vm.isEditMode">
                    <strong >{{vm.info.writter}}</strong> added a weekly <strong>{{vm.info.caption}}</strong> ...</div>
                    <div ng-show="vm.isEditMode" class="item"> 
                        <input class="item-input-wrapper full-image" type="text" ng-model="vm.edit.caption" placeholder="Write a title.">
                        <div class="item">
                        <button class="button button-small button-full button-positive"
                            ng-click="updateContent(vm.edit)"> Update
                        </button></div>
                    </div>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> {{vm.count_comments()|| 0}}
                        <i class="icon ion-heart assertive"></i> {{vm.info.likeCount|| 0}}
                        
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>{{vm.info.when}}
                        </div>
                    </div>
                </div>

                <div class="list" style="background-color:lightgrey">
                    <div comment="vm.ConvertComment(citem)" ng-repeat="citem in vm.info.comments"></div>        
                </div>
            </div>


        </div>
        
  
    </ion-content>
<ion-footer-bar class="bar-assertive">
    <form name="commentForm">
      <div class="chat-input">
        <div class="input-area">
          <input type="text" ng-model="vm.newComment" placeholder="Type in your comment..." required>
          <button class="send-msg-btn"
            ng-disabled="!commentForm.$valid"
            ng-click="vm.sendComment(vm.newComment)"> Submit
          </button>
        </div>
      </div>
    </form>

</ion-footer-bar>    
</ion-view>
