<ion-view view-title="Weekly Detail" name="weeklyDetail-view">

  <div class="float-button" style="top:10%;height: 30px;" ng-click="openPopover($event,vm)">
      <span class="height-fix">
            <a class="content">
                <i class="ion-android-more-vertical"></i>
          </a>
      </span>     
  </div>
    
    <ion-content class="has-header">

        <div>
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar">
                    <img ng-src="{{vm.avatar}}">
                    <h2>{{vm.writter}}</h2>
                    <p>"{{vm.title}}"</p>
                </div>                
                <div class="item item-text-wrap" style="padding-top:0">
                    <img class="full-image" ng-src="{{vm.imgPath}}">
                    <strong>{{vm.writter}}</strong> added a weekly <strong>{{vm.caption}}</strong> ...
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> {{vm.comments.length}}
                        <i class="icon ion-heart assertive"></i> {{vm.likes|| 0}}
                        
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>{{vm.when}}
                        </div>
                    </div>
                </div>

                <div class="list" style="background-color:lightgrey">
                    <div comment="citem" ng-repeat="citem in vm.comments"></div>        
                </div>
            </div>


        </div>
        
  
    </ion-content>
</ion-view>
