<ion-view view-title="weekly Subject">
<br>
<br><br>

<div class="card">
   <div class="item item-avatar">
      <img src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/avartar%2Fface.jpg?alt=media&token=d0961391-b210-42cc-a012-3245f1587525">
     <button class="button button-assertive button-clear">back</button>
      <button class="button button-assertive button-clear">Posting</button>
      <br>
      
   </div>

   <div class="item item-body">
      <img class="full-image" src="https://firebasestorage.googleapis.com/v0/b/capstone-project-a56d3.appspot.com/o/style-dress%2Fsummer%20look.jpg?alt=media&token=7cae7ff7-617f-456b-86f1-efa0e6417e81">
   </div>

<div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">Title</span>
   <input type="text" placeholder="">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">Comment</span>
   <input type="text" placeholder="">
   </label>
   <br>
   <br><br>
</div>
</ion-view>



