/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.tab-title {
    font-size: 14px;
    margin-top: -34px !important;
    /*display: block;*/
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
/* Login
==================================*/
.float-button {
background-color:#303f9f;
opacity: 0.9;
color: white;
border-radius: 50%;
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 5%;
right: 5%;
z-index: 1000;
}

.float-button .height_fix {
    margin-top: 100%;
    border: 1px solid red;

}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    color: white;
}

/* profile image change
==================================*/
.small_button{
    line-height: 5px !important;
    min-height: 20px !important;
}

/* File upload
==================================*/

.grid-full ion-row {
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
}

.grid-full ion-col {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  padding: 10px 5px;
}

.cell-1 {
  background-color: #C5DCFC;
}
.cell-2 {
  background-color: #262B69;
}

/* popover ------------------------*/
ion-popover-view.fit {
  height: auto;
  margin-left: 15%;
  margin-top: 8%;
  width: 120px;
}
ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 8%;
}
.platform-ios ion-popover-view.fit {
  margin-top: 8%;
}

ion-popover-view.fit i.icon::before {
    font-size: 20px;
}

.popover-arrow {
  left: 72px;
}